<sheet>
	<sprite name="16.png" x="0" y="0" width="600" height="184" />
	<sprite name="10.png" x="600" y="0" width="250" height="50" />
	<sprite name="11.png" x="0" y="184" width="250" height="50" />
	<sprite name="12.png" x="250" y="184" width="50" height="50" />
	<sprite name="13.png" x="300" y="184" width="50" height="50" />
	<sprite name="14.png" x="350" y="184" width="50" height="50" />
	<sprite name="15.png" x="400" y="184" width="50" height="50" />
</sheet>
